body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.col-50 {
    flex: 50%;
    padding: 26px;
    box-sizing: border-box;
}

.image {
    height: 200px;
    width: 400px;
}

.stars span {
    color: chocolate;
    font-size: 20px;
}